* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 102, 95);
    color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 90%; 
    height: 90%; 
    opacity: 0.9;
}

.left-part {
    background-color: #F6ACA2;
    width: 40%;
    padding: 20px;
    border-right: 1px solid #000; 
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Center the search box at the top and filters at the bottom */
    position: relative; /* Required for positioning .filters */
}

.right-part {
    width: 60%;
    padding: 20px;
    background-color: #d6d5d1; 
    border-radius: 0 10px 10px 0; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.random {
    border: 2px solid #000;
    padding: 0 0 0 10px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
}

.search-box {
    color: #123;
    margin: 20px auto 40px;
    border-radius: 10px;
    width: 100%; 
    position: absolute;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 20px;
}

#input-box {
    height: 50px;
    width: 86%;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
    border-radius: 10px;
}

button {
    background: transparent;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    padding: 0;
    height: 50px;
    width: 51px;
    background-color: #e0e0e0;
}

.fa-solid {
    color: #555;
    font-size: 22px;
}

::placeholder {
    color: #555;
}

.result-box {
    /* width: 100%; */
    max-height: 300px;
    overflow-y: scroll;
    /* background-color: #FFF; might have to remove these 3 */
    /* position: absolute;
    z-index: 10; */
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px 15px 0;
    background-color: #FFF;
}

.result-box ul li {
    list-style: none;
    padding: 15px 10px 15px 0;
    border-radius: 3px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}

.no-book {
    color: red;
}


.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin-top: 135px;
    background-color: #fabbb2;
}

.filter {
    margin-bottom: 40px;
    text-align: center;
}

.filter label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.filter input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recommend-window{
    height: 38%; /* Adjusts carousel height */
    width: 100%;
    overflow: hidden;
    
}

.recommend-box{
    height: 100%;
}

.recommend-box img{
    width: 100%; /* Prevent image from exceeding container width */
    max-height: 100%; /* Prevent image from exceeding container height */
    object-fit: contain; /* Ensures the entire image is visible within the carousel */
    object-position: center; /* Centers the image within the carousel */
}

.slide-window{
    display: flex;
    flex-direction: column;
    height: 60%; /* Adjusts carousel height */
    width: 100%;
    overflow: hidden;
    border: 5px solid #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

/* Set carousel height to 60% of the right part */
.carousel {
    height: 100%; 
    justify-content: center;
    width: 100%;

}

/* Ensure images fit within the carousel */
.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    height: 100%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    background-color:burlywood;
}

.carousel-indicators {
    display: none; /* Hides the carousel indicators */
}


.carousel-inner .item img {
    width: 100%; /* Prevent image from exceeding container width */
    max-height: 100%; /* Prevent image from exceeding container height */
    object-fit: contain; /* Ensures the entire image is visible within the carousel */
    object-position: center; /* Centers the image within the carousel */
}

.carousel-inner .item img:hover {
    cursor: pointer;
}



#recommend-msg{
    text-align: center;
    color:#000;
}


#apply-filters {
    width: 80%; /* Adjust width as needed */
    padding: 10px;
    background-color: #333; /* Button background color */
    color: #FFF; /* Button text color */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

#apply-filters:hover {
    background-color: #555; /* Darker color on hover */
}




canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures particles are behind other content */
    background-color: rgb(18, 102, 95); /* Set this to match or replace the existing background color */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js (Optional) ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    width: 100%;
    height: 100%;;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box; /* Ensure padding is included in width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




@keyframes breathing {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
  }
  
  @keyframes pulseBackground {
    0% { background-color: #E0F7FA; }
    50% { background-color: #4DD0E1; }
    100% { background-color: #00838F; }
  }
  
  .modal-content {
    animation: pulseBackground 3.5s ease-in-out infinite alternate, breathing 7s ease-in-out infinite;
  }
  

  

/* Card Style */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
}

/* Card Image */
.card img {
    max-width: 100%; /* Prevent image from exceeding card width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Adjusts the image to fit within the card */
}


/* Card Close Button */
.cardClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cardClose:hover,
.cardClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Card Details */
.card-body h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 16px;
    margin: 5px 0;
}

.card-body span {
    font-weight: bold;
}


#customToast {
    position: fixed;
    top: 20%;
    right: auto;
    left: auto;
    width: 300px;
    z-index: 1050;
    border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #000;
    text-shadow: 0.5px 1px #00040a;
    transition:0.5s;
    cursor:pointer;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
    
}

#customToast:hover{
    background-color: rgba(220, 128, 1, 0.33);
    transition:0.5s;
}


.toastRow {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    position: relative; /* To position the close button */
}

.toastCol {
    display: flex;
    flex-direction: column; /* Align text vertically */
    align-items: center; /* Center text horizontally */
    text-align: center; /* Center text within the column */
}

.toastCol p{
    color: #000;
}

.toastClose {
    position: absolute; /* Position close button */
    top: auto;
    right: -20px;
    padding: 10px;
    color: #721c24;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.toastClose:hover,
.toastClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#customToast.show {
    opacity: 1;
    display: block;
}

#warning{
    color:#ffb103;
}


.navigation {
    position: fixed; /* Fixes the navigation to the viewport */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    z-index: 1000; /* Ensure it is on top of other elements */
}

.logButton {
    text-decoration: none;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 12px; /* Padding for button size */
    color: white;
    background-color: black;
    border-radius: 25px; /* Rounded corners */
    width: 150px; /* Initial width to fit the icon comfortably */
    transition: width .35s, padding .35s; /* Smooth transitions for width and padding */
    overflow: hidden;
    margin: 0; /* Remove default margin */
    white-space: nowrap; /* Prevent text from wrapping */
    position: relative; /* Ensure positioning for child elements */
}

.logButton:hover {
    width: 150px; /* Expanded width on hover to show the text */
    padding: 12px 20px; /* Increase padding on hover for better layout */
    justify-content: flex-start; /* Align items to the start (left) */
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    margin-left: 10px; /* Space between icon and text */
    letter-spacing: 3px;
    opacity: 1; /* Initially hidden */
    transition: opacity .35s; /* Smooth transition for opacity */
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block; /* Ensure it behaves as inline element */
}

.logButton:hover .logout {
    opacity: 1; /* Show the text on hover */
}

i.fa-regular.fa-user {
    font-size: 25px; /* Adjust size if necessary */
    color: white; /* Icon color */
}



/* Blurred overlay styles */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    z-index: 9998;
    display: none;  /* Initially hidden */
}

/* Loader styles */
.loader {
    position: fixed; /* Fixed to stay in one place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;  /* Ensure it's above the blur overlay */
    display: none;  /* Initially hidden */
}

/* Camera loader styles */
.camera {
    width: 60px;
    aspect-ratio: 1 / 1;
    perspective: 500px;
}

.camera .loadContainer {
    --x-pivot: -45deg;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transform: rotateX(var(--x-pivot)) rotateY(0deg);
    animation: rotate 2s infinite;
}

.camera .side {
    --i: 0;
    --stroke: 2px;
    height: calc(100% - var(--stroke) * 2);
    width: calc(50% - var(--stroke) * 2);
    position: absolute;
    background: white;
    border: var(--stroke) solid black;
    transform: rotate3d(0, 1, 0, calc(45deg * var(--i)));
    transform-origin: right center;
    backface-visibility: visible;
}

@keyframes rotate {
    0% {
        transform: rotateX(var(--x-pivot)) rotateY(22.5deg);
        animation-timing-function: cubic-bezier(0.71, 0, 0.23, 0.99);
    }
    50% {
        transform: rotateX(var(--x-pivot)) rotateY(200.5deg);
        animation-timing-function: cubic-bezier(0.71, 0, 0.23, 0.99);
    }
    100% {
        transform: rotateX(var(--x-pivot)) rotateY(382.5deg);
        animation-timing-function: cubic-bezier(0.71, 0, 0.23, 0.99);
    }
}